.App-title{
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.cardLink:hover{
  text-decoration-line: none;
}

.rounded:hover{
  color: white;
  box-shadow: 0 15px 45px -5px rgba(10, 16, 34, .3);
  -webkit-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
}